<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <title>Add a Patient</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
	
</head>


<body>
<div class="container">
{% block content %}
    <h1>New Patient</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.first_name.label }}<br>
            {{ form.first_name(size=32) }}
        </p>
        <p>
            {{ form.last_name.label }}<br>
            {{ form.last_name(size=32) }}
        </p>
		<p>
            {{ form.id.label }}<br>
            {{ form.id(size=32) }}
        </p>
        <p>
            {{ form.latitude.label }}<br>
            {{ form.latitude(size=32) }}
        </p>
		<p>
            {{ form.longitude.label }}<br>
            {{ form.longitude(size=32) }}
        </p>
		<p>
            {{ form.symptoms.label }}<br>
            {{ form.symptoms(size=80) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
	
{% endblock %}

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<h5>{{message}}</h5>
		{% endfor %}
	{% endif %}
{% endwith %}

</div>
</body>

</html>